<%= form_with(model: tipo_mineracao) do |form| %>
  <% if tipo_mineracao.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tipo_mineracao.errors.count, "error") %> prohibited this tipo_mineracao from being saved:</h2>

      <ul>
        <% tipo_mineracao.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome %>
  </div>

  <div class="field">
    <%= form.label :sigla %>
    <%= form.text_field :sigla %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
